*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline:none ;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
 body {
    background-color: #e3d5ca;   
    background-size: cover;
    background-position: center;
    padding-top: 70px;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

header {
    position: fixed;
    background: papayawhip;
    display: flex;
    align-items: center;
    top: 0; left: 0; right: 0;
    padding: 2rem 9% ;
    /* justify-content: space-between; */
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0.1);
}
header img{
    width: 10%;
    margin-left: 60px;
    align-items: center;
    margin-right: 190px;
}    
header .navbar a{
    font-size: 1.8rem;
    padding:  3.5rem;
    color: brown;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
}         
.home-text h1{
    text-align: center;
    width: 80%;
    height: auto;
    margin: 80px;
    padding-left: 100px;  
}
#btn-hot{
    padding: 20px;
    background-color: #cb997e;
    width:15%;
    margin-left: 400px; 
    margin-right: 260px;
    font-weight: bold;
    font-size: medium;

 }
 #btn-iced{
    padding: 20px;
    background-color: #cb997e;
    width: 15%;
    margin-left: 120px;
    font-weight: bold;
    font-size: medium;
 }
 .button a{
    float: inline-end;
    
 }
 /* ------------------MAIN PAGE --------------------*/
 #home{
    display: flex;
    height: 100vh;
    min-height: 500px;
 }
 .inner-home-content{
    display: flex;
 }
 .picture{
    width: 40%;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 30px;
    position: absolute;
    border-radius: 30px;
    margin-bottom: 250px;
    
 }
 .main-txt{
    margin-left: 800px;
    margin-top: 200px;
    font-size: large;
    width: 30%;
    justify-content: center;
 }
 #add-order{
    padding: 20px;
    background-color: brown;
    width: 35%;
    margin-left: 125px;
    font-weight: bold;
    font-size: medium;
    margin-top: 1010px;
 }
 /*====================ADD ORDER ===============*/
 #add-main{
    margin-top: 80px;
 }
   .adds h1{
    margin-left: 200px;
    margin-bottom: 15px;
 } 
 .user-name{
    display: flex;
    margin-left: 55px;
    
 }
  .user-name h2{
 margin-top: 18px;
 padding-right: 20px;
 
 } 
 #input-name{
    width: 25%;

    
 }
 .user-id{
    display: flex;
    margin-left: 55px;
 }
 .user-id h2{
    margin-top: 25px;
    padding-right: 40px;
    margin-left: 15px; 
 }
  #input-id{
    width: 25%;
    margin-top: 18px;
 } 
 .user-drink{
    display: flex;
    margin-left: 55px;
 }
 .user-drink h2{
    margin-top: 25px;
    padding-right: 20px; 
    margin-left: 10px; 
  }
 #input-drink{
    width: 25%;
    margin-top: 18px;
 }  
 #submitButton{
    padding: 5px;
    background-color: brown;
    width: 5%;
     margin-left: 350px; 
     font-weight: bold;
    font-size: medium;
    margin-top: 25px;
     
 }
 .get-remove{
    margin-left: 600px;
 }
 

   
     
