*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline:none ;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
 body {
    background-color: #e3d5ca;   
    background-size: cover;
    background-position: center;
    padding-top: 70px;
    
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

header {
    position: fixed;
    background: papayawhip;
    display: flex;
    align-items: center;
    top: 0; left: 0; right: 0;
    padding: 2rem 9% ;
    /* justify-content: space-between; */
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0.1);
}
header img{
    width: 10%;
    margin-left: 60px;
    align-items: center;
    margin-right: 190px;
}    
header .navbar a{
    font-size: 1.8rem;
    padding:  3.5rem;
    color: brown;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
}         
.home-text h1{
    text-align: center;
    width: 80%;
    height: auto;
    margin: 80px;
    padding-left: 100px;  
}
.drink-main{
   display: flex;
}
#btn-hot{
    padding: 15px;
    background-color: #cb997e;
    width:20%;
    margin-left: 400px; 
    margin-right: 260px;
    font-weight: bold;
    font-size: medium;

 }
 #btn-iced{
    padding: 15px;
    background-color: #cb997e;
    width: 20%;
    margin-left: 120px;
    font-weight: bold;
    font-size: medium;
 }
 .button a{
    float: inline-end;
    
 }
 /* ------------------MAIN PAGE --------------------*/
 #home{
    display: flex;
    height: 100vh;
    min-height: 500px;
 }
 .inner-home-content{
    display: flex;
 }
 .picture{
    width: 40%;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 30px;
    position: absolute;
    border-radius: 30px;
    margin-bottom: 250px;
    
 }
 .main-txt{
    margin-left: 800px;
    margin-top: 200px;
    font-size: large;
    width: 30%;
    justify-content: center;
 }
 #add-order{
    padding: 20px;
    background-color: #cb997e;
    width: 35%;
    margin-left: 125px;
    font-weight: bold;
    font-size: medium;
    margin-top: 1010px;
 }
 /*====================ADD ORDER ===============*/
 
  #add-main{
    margin-top: 80px;
    margin-left: 35px;
 }
 #adds-container{
   display: flex;
 }
 #get-or-delete{
   margin-left: 700px;
 }
 .all-ad h1{
   font-weight: bold;
   font-size: 25px;
 }
 #all-order{
   margin-top: 20px;
    padding: 5px;
    background-color: #cb997e;
    width: 55%;
    font-weight: bold;
    margin-left: 25px;
    font-size: medium;
 }
 .order-h h1{
   margin-top: 35px;
   font-weight: bold;
   font-size: 25px;
   margin-bottom: 20px;
 }
 .user-name{
   display: flex;
   }
 .user-id{
   display: flex;
 }  
 .user-drink{
   display: flex;
   } 

   .user-name h3{
      margin-right: 25px;
      margin-left: 25px;
      margin-top: 25px;
      }
    .user-id h3{
      margin-right: 47px;
      margin-left: 25px;
      margin-top: 25px;
    }  
    .user-drink h3{
      margin-right: 10px;
      margin-left: 25px;
      margin-top: 25px;
      } 
      #input-name{
         margin-top: 25px;
         margin-bottom: 11px;
         padding: 10px;
      } 
      #input-name-get{
         margin-top: 25px;
         margin-bottom: 11px;
         padding: 10px;  
      }

      #inputNameDelete{
         margin-top: 25px;
         margin-bottom: 11px;
         padding: 10px;  
      }
      
      

      #input-id{
         margin-bottom: 25px; 
         padding: 10px;
      }
 #input-drink{
   width: 59%;
   margin-left: 18px;
 }

   #submitButton{
          margin-top: 20px;
          padding: 5px;
          background-color: #cb997e;
          width: 35%;
          font-weight: bold;
          margin-left: 45px;
          font-size: medium;
         
       }
       
       #get-order{
         margin-top: 20px;
         padding: 5px;
         background-color: #cb997e;
         width: 40%;
         font-weight: bold;
         margin-left: 85px;
         font-size: medium;
         margin-bottom: 15px;
      }
      .get-side{
         display: flex;
      }
      
      .delete-side{
         display: flex;
      }

      #get-or-delete h1{
        
         font-weight: bold;
         font-size: 25px;
         margin-bottom: 20px;}
      #removeOrder{
         /* margin-top: 10px; */
         padding: 5px;
         background-color: #cb997e;
         width: 40%;
         font-weight: bold;
         margin-left: 85px;
         font-size: medium;
         margin-top: 15px;
      }

/*========= To list all orders========== */

#orderList{
   text-decoration: none ;
   font-size: large;
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin-top: 15px;
}
#listHot{
   margin-left: 400px;
   font-size: 2rem;
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin-top: 50px;
   list-style-type: none;
   
}
#listIced{
   margin-left: 120px;
   font-size: 2rem;
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin-top: 50px;
   list-style-type: none;

}
#btnOrder{
   margin-top: 150px;
   padding: 10px;
   background-color: #cb997e;
   width: 15%;
   font-weight: bold;
   margin-right: 800px;
   font-size: medium;
   float: right;
   }

    #listOrderGet{
   font-size: 2rem;
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin-top: 20px;
   list-style-type: none;
    }
 /* ======================LOG IN PAGE============== */
 #logIn{
   margin-top: 200px;
   margin-left: 600px;
 }

   
     
